body {
    background: linear-gradient(#FFFFFF, #AAAAAA);
    margin-bottom: 1100px;
    margin-left: 100px;
}

h1 {
    position: fixed;
    top: 10%;
    left: 45%;
    font-family: arial;
    font-size: 300%;
    color: #333333;
}

footer {
    position:fixed;
    bottom: 8%;   
}
 
#description{
    position: fixed;
	left: 15%;
    font-family: arial;
    font-size: 150%;
}

#about {
	color:black;
}

ul {
    padding-left: 0px;
    list-style: none;  
}

a {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: grey;
    text-decoration: none;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font-family: arial;
    font-size: 30px; 
}

#content{
	margin-top: 200px;
	position: fixed;
}

a:hover {
	color: black;
}


@media screen and (max-width:800px){
    
   #description {
        font-size: 100%;
    }
}

@media screen and (max-width:550px){
    
    #content {
        font-size: 80%;
    }
	li {
	    position: fixed;
		left: 0%;
		top: 85%; 
    }
	
	a {
		font-size: 150%;
	}
	
	h1 {
		font-size: 150%;
	}
		
}

@media screen and (max-width:350px){
    li {
		font-size: 50%;
		position: fixed;
		left: 0%;
		top: 80%;
	}
	
	h1 {
		font-size: 100%;
	}

	
}


    




