body {
    background: #d3d3d3;
    height: 1100px;
    margin-left: 100px;
}

h1 {
    position: fixed;
    top: 10%;
    left: 45%;
    font-family: arial;
    font-size: 300%;
    color: #333333;
}

footer {
    position:fixed;
    bottom: 8%;
	font-family: arial;	
}
 
#content{
    position: fixed;
	left: 22.5%;
    font-family: arial;
    font-size: 150%;
	max-width: 55%;
}

#about {
	color:black;
}

#footer {
	font-size: 20px;
}

ul {
    padding-left: 0px;
    list-style: none;  
}

a {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: grey;
    text-decoration: none;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font-family: arial;
    font-size: 30px; 
}

#content{
	margin-top: 200px;
	position: fixed;
}

a:hover {
	color: black;
}


@media screen and (max-width:550px){
    
   
	li {
	    position: fixed;
		left: 10%;
		top: 85%; 
    }
	
	a {
		font-size: 150%;
	}
	
	h1 {
		font-size: 150%;
	}
	
	footer , p{
		left: 10%;
	}	
}

@media screen and (max-width:450px){
    li {
		width: 50%;
		position: fixed;
		left: 10%;
		top: 80%;
	}
	
	#content {
		font-size: 100%;
	}
	
	h1 {
		font-size: 100%;
	}
	
	footer , p{
		left: 10%;
	}

	
}


    




