body {
    background: linear-gradient(#FFFFFF, #AAAAAA);
    margin-bottom: 1100px;
    margin-left: 100px;
    max-width: 1000px;
}

.Searcher {
    position: fixed;
    top: 50%;
    left: 25%;  
    
}

h1 {
    position: fixed;
    top: 10%;
    left: 35%;
    font-family: arial;
    font-size: 50px;
    color: #333333;
}

footer {
    position:fixed;
    bottom: 8%;   
}

p {
    position: fixed;
    bottom: 2px;
    font-family: arial;
    font-size: 20px;
}

ul {
    padding-left: 0px;
    list-style: none;  
}

a {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: grey;
    text-decoration: none;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font-family: arial;
    font-size: 30px;
    box-shadow: 3px 3px #cccccc;
}

#SiteLogo {
    max-width: 25%;
}

#search {
    padding: 10px;
    width: 60%;
    border-radius: 50px;
    border-color: black;
    box-shadow: 5px 5px grey;
    font-size: 30px;
    font-family: arial;
    color: #bbbbbb;
}

#musicButton, #videoButton {
     transition-property: all;
    transition-duration: 0.5s;
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: grey;
    border-radius: 5px;
    border-bottom-width: 2.5px;
    border-bottom-color: #bbbbbb; 
    border-right-width: 5px;
    border-right-color: #bbbbbb;
}

#musicButton:hover, #videoButton:hover {
    color: black;
}

a:hover {
    color: black;
}

@media screen and (max-width:900px){
    
    body, #search, #musicButton, #videoButton {
        width: 75%;
    }
	
    h1 {
        display:block;
        font-size: 200%;
    }
}

@media screen and (max-width:550px){
    
    body, #search, #musicButton, #videoButton {
        margin-left: 10%;
        width: 75%;
    }
    
    li {
        width: 50%;
	margin-left: 35%;
    }
    
     h1 {
        position: fixed;
        width: 100%;
        top: 10%;
        left: 3%;
        font-size: 175%;
    }
    
}

@media screen and (max-width:300px){
    
    h1 {
        position: fixed;
        width: 100%;
        top: 10%;
        left: 3%;
       font-size: 125%;
    }
	
	li {
	  margin-left: 0%;
	}
    
    #search, #musicButton, #videoButton {
        margin-left: 0%;
        width: 75%;
	font-size: 100%;
    }
       
}


    




